* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
}

/* Navbar */
nav {
    background: #222;
    color: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.logo {
    color: #00bcd4;
}

/* Sections */
.section {
    padding: 60px 40px;
    text-align: center;
}

.home {
    background: #00bcd4;
    color: white;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home span {
    color: #6ead07;
}

/* Skills */
.skills-list {
    list-style: none;
    margin-top: 20px;
}

.skills-list li {
    background: #0db04c;
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 5px;
}

/* Footer */
footer {
    background: #222;
    color: rgb(24, 156, 57);
    text-align: center;
    padding: 15px;
}
